
:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}



#contenair {
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 100%;
 
}
/* Header général */
header {
    
    background-color: pink;
    color: black;
    text-transform: uppercase;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 120px;
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 4rem;
    margin: 0;
    margin-left: 30px;
}

header ul {
    display: flex;
    flex-direction: row;  /* Affiche les éléments du menu en ligne */
    
    align-items: center;
    gap: 15px;  /* Espacement entre les éléments du menu */
    list-style: none;  /* Supprimer les puces de la liste */
    padding: 0;  /* Supprimer le padding de la liste */
    margin: 0;  /* Supprimer la marge autour de la liste */
}

header ul li a {
    display: flex;  /* Flexbox sur chaque lien pour aligner l'icône et le texte */
    align-items: center;  /* Alignement vertical de l'icône et du texte */
    gap: 5px;  /* Un petit espace entre l'icône et le texte */
    text-decoration: none;  /* Supprimer le soulignement */
    color: black;  /* Couleur du texte */
    font-size: 2rem;
}

header ul li a img.icon {
    width: 38px; /* Ajuste la largeur (par exemple 16px) */
    height: auto; /* Garde le ratio d'aspect */
    
}

/* Section des icônes Profil et Caddie */
.profil-caddie {
    display: flex;
    align-items: center;  /* Aligne les icônes horizontalement */
    gap: 20px;  /* Espacement entre les icônes */
    margin-right: 30px;
}

/* Style pour chaque icône de profil et caddie */
.profil-caddie a {
    font-size: 2rem;  /* Taille des icônes */
    color: black;  /* Couleur noire pour les icônes */
    text-decoration: none;  /* Supprimer le soulignement */
}

/* Par défaut, masquer le menu-toggle */
#menu-toggle,
.menu-icon {
    display: none; /* Cacher le toggle et l'icône */
}


/* Main Section */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}