body {
    background-color: #111;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.header h1 {
    margin-left: 200px;
    color: yellowgreen;
    
}

.controls { /* Nouveau conteneur pour regrouper la recherche et le filtre */
    display: flex;
    align-items: center;
 }
.search-container {
    border: 1px solid white;
    background-color: #333;
    width: 300px;
    margin-right: 1px; /* Ajoute une marge à droite pour espacer Filtrer */
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-container input {
    background-color: #333;
    border: none;
    width: 100%;
    height: 40px;
    box-sizing: border-box; /* Important pour inclure le padding et la bordure dans la largeur */
    font-size: 16px;
}
   
.filter-container {
    border: 1px solid white;
    padding: 10px;
    padding-top: 5px;
    display: flex;
    align-items: flex-start;
    width: 80%;
    
}

.filter-options {
    margin-right: 0px;
    width: 195px;
}

.filter-options legend,
.filter-category legend {
    margin-top: 0;
    text-align: left;
}

.filter-options label {
    display: inline;
    margin-right: 2px; 
    
}
    
.filter-options label input[type="checkbox"] {
    margin-right: 5px; /* Ajouter un peu d'espace à droite de la case à cocher */
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
th {
    background-color: #444;
    color: yellowgreen;
    padding: 8px;
    text-align: center;
}

th:nth-child(2) {
    text-align: left; /* Aligner le texte à gauche pour la colonne "NOM" */
}

td {
    padding: 8px;
    text-align: center;
}

  td:nth-child(2) {
    text-align: left; /* Aligner le texte à gauche pour la colonne "NOM" */
}

  td:nth-child(1) {
    background-color: #333;
    color: yellow;
}

  table tbody tr:hover {
    background-color: #664;
}

  table button {
    background-color: transparent;
    color: red;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
}

  table button:hover {
    background-color: rgba(255, 0, 0, 0.1);  /* Ajouter un léger fond rouge au survol pour indiquer l'interactivité */
  }


.nutriscore-a {
    background-color: darkgreen;
}

.nutriscore-b {
    background-color: #009900CC;
}

.nutriscore-c {
    background-color: #CCCC00CC;
}

.nutriscore-d {
    background-color: #CC6600CC;
}

.nutriscore-e {
    background-color: #CC0000CC;
}

/* Ancienne règle (vous pouvez la supprimer ou la commenter) */
/* tfoot tr td:nth-child(1),
tfoot tr td:nth-child(2) {
    text-align: left;
} */

/* Nouvelle règle */
tfoot .text-left {
    text-align: left;
}