:root {
    --base-bg: #111111;
    --base-txt: #CCCCCC;
    --base-link: #E4D9FF;
    --base-btn: #085E8F;
}

body {
    background-color: var(--base-bg);
    border: 2px solid var(--base-link);
    
}

.course {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    /* height: 400px; */
}
h1 {
    color: var(--base-link);
    margin: 0;
}

input {
    background-color: var(--base-link);
    color: var(--base-btn);
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

#nbParticipants {
    width: 6%;
    height: 20px;
}

#nomGagnant {
    width: 9%;
    height: 20px;
}

#tempsMoyen {
    width: 15%;
    height: 20px;
    
}
h2 {
    color: var(--base-link);
    margin-top: 10px;
    margin-bottom: 10px;

}

.country-filter-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2px 2px;
    margin-top: 10px; 
    justify-items: start;
    width: 120px;

}

.country-filter-item {
    display: flex; /* Réactiver Flexbox */
    flex-direction: row; /* Assurer que la case et le texte sont sur la même ligne */
    align-items: center; /* Centrer verticalement la case et le texte */
    justify-content: flex-start; /* Aligner le contenu au début (gauche) du conteneur */
    padding: 2px 2px;
    padding-left: 10px; /* Ajouter un padding à gauche pour décaler le contenu vers la droite - ajustez cette valeur */
    border: 1px solid var(--base-btn);
    border-radius: 15px;
    margin-right: 0px;
    color: var(--base-txt);
    background-color: var(--base-btn);
    width: 130px; /* Garder la largeur pour l'instant */
    box-sizing: border-box;
    text-align: left; /* Assurer que le texte est aligné à gauche */
}

.country-filter-item input[type="checkbox"] {
    margin: 0;
    margin-right: 5px;
    padding-top: 0px; /* Retirer le padding-top si vous l'aviez ajouté pour les tests */
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    width: 450px;
    height: 77%; 
    max-height: 400px; /* Exemple de hauteur maximale - ajustez cette valeur */
    overflow-y: auto; /* Ajouter une barre de défilement vertical si le contenu dépasse la hauteur maximale */
    border-radius: 15px;
    background-color: var(--base-btn);
}

th {
    text-align: center;
    color: var(--base-txt);
    padding-top: 8px;
}


td {
    
    color: var(--base-txt);
    /* border: 1px solid red; /* Ajout d'une bordure rouge temporaire */
    padding-left: 15px;
    padding-top: 3px; /* Augmenter le padding en haut */
    padding-bottom: 3px; /* Augmenter le padding en bas */

}