:root {
    --base-bg: #111111;
    --base-txt: #CCCCCC;
    --base-link: #E4D9FF;
    --base-btn: #085E8F;
}

body {
    background-color: var(--base-bg);
    border: 2px solid var(--base-link);
    
}

.course {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    height: 400px;
}
h1 {
    color: var(--base-link);
    margin: 0;
}

input {
    background-color: var(--base-link);
    color: var(--base-btn);
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

#nbParticipants {
    width: 10%;
    height: 20px;
}

#nomGagnant {
    width: 17%;
    height: 20px;
}
h2 {
    color: var(--base-link);
    margin-top: 10px;
    margin-bottom: 10px;

}

.country-filter-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2px 5px;
    margin-top: 10px; 
    justify-items: start;
    width: 120px;

}

.country-filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid var(--base-btn);
    border-radius: 5px;
    margin-right: 0;
    color: var(--base-txt);
    background-color: var(--base-btn);
    width: 120px;
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur */
}

.country-filter-item input[type="checkbox"] {
    margin-right: 5px;
    
}
table {
    width: 100%; /* Le tableau prend toute la largeur de son conteneur */
    border-collapse: separate; /* Modification temporaire */
    border-spacing: 0; /* Souvent utilisé avec border-collapse: separate; */
    margin-top: 20px; /* Espacement au-dessus du tableau */
    width: 35%;
    height: 77%;
    border-radius: 15px;
    /* border: 1px solid red; /* Ajout d'une bordure rouge temporaire */
    background-color: var(--base-btn); /* Couleur de fond des cellules */
}
th {
    text-align: center;
    color: var(--base-txt);
    padding-top: 8px;
}


td {
    
    color: var(--base-txt);
    /* border: 1px solid red; /* Ajout d'une bordure rouge temporaire */
    padding-left: 8px;
}