/* Media queries pour les petits écrans */

@media (min-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    header, nav, main, footer {
        grid-column: 1 / -1;
    }

    nav {
        grid-row: auto;
    }

    .principal {
        flex-direction: column;
        align-items: center;
    }
}