html {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 240px 1fr 240px;
    height: 100%; /* Correction pour une hauteur fluide */
    margin: 0;
    
}

header {
    background-image: url(../img/basic-template-banner.png);
    background-size: cover;  /* L'image s'ajuste à l'espace */
    background-position-x: center;  /* Centré pour plus de flexibilité */
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0; /* Un peu de padding pour le header */
}

h1 {
    text-align: center;
    color: white; /* Ajout d'une couleur pour le titre */
    font-size: 2rem; /* Ajustement de la taille du texte pour mieux s'adapter */
}
/* Menu de navigation */
nav {
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
}

nav h2 {
    background-color: #b1b1b1;
    font-size: 1.5em;
    line-height: .8em;
    margin-bottom: 10px;
    padding: 0 5PX;
}

/* Liste de menu sans puces */
nav ul {
    list-style-type: none;
    padding: 0;
    
}

/* Élément de menu avec bordure */
nav li {
    margin-bottom: 10px;
    
    border-radius: 4px; /* Coins arrondis */
    width: 100%;
    padding: 10px 5px;
}

/* Liens du menu */
nav a {
    display: block;
    text-decoration: none;
    
    font-size: 1.2em;
    
}
/* Contenu principal */
main {
    grid-row: 2;
    grid-column: 2;
    padding: 0px;
    background-color: #CCCCCC;
}
main h3 {
    font-size: 1.5em;
    line-height: .8em;
    margin-bottom: 10px;
    padding: 0 5px;   
}
/* Section aside avec Flexbox */
aside {
    grid-row: 2;
    grid-column: 3;
    padding: 0px;
    
    /*border-left: 2px solid var(--border-color); /* Légère bordure à gauche */
    
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Organise les éléments verticalement */
    gap: 1px; /* Espacement entre les éléments enfants */
    align-items: center; /* Centrer les éléments enfants horizontalement */
    background-color: #bebebe;
}

/* Titre h4 (Publicité) prend toute la largeur sans encadré */
h4 {
    text-align: center;
    color: #085E8F;
    background-color: #b1b1b1;
    padding: 12px 0px 12px;
    margin: 0; /* Retirer les marges */
    border: none; /* Supprimer la bordure */
    width: 100%; /* Prend toute la largeur */
    font-size: 1.2rem; /* Agrandir la taille du texte */
}

/* L'image prend toute la largeur de aside, sans bordure */
aside img {
    width: 100%; /* Prend toute la largeur du conteneur */
    height: auto; /* Garde le ratio d'aspect de l'image */
    margin-bottom: 0px; /* Espacement sous l'image */
    border: none; /* Retirer toute bordure éventuelle */
}
aside p {
    margin: 9px 9px 9px 9px;
    font-size: 0.9rem
}
/* Encadré autour de h5 (titre "J'achète!") */
h5 {
    text-align: center;
    
    background-color: #085E8F;
    padding: 9px 0;
    width: 95%; /* S'assure que le titre prend toute la largeur de aside */
    margin: 0; /* Supprime les marges pour éviter les décalages */
    
    /*border-top: 2px solid var(--border-color); /* Bordure supérieure */
    /*border-bottom: 2px solid var(--border-color); /* Bordure inférieure pour séparer du contenu */
    a {
        color: #bebebe;
        text-decoration: none;
        font-size: 1.2rem
    }
}
/* Principal des articles */
.menu-item {
    
    width: 100%; /* Prend la même largeur que le contenu principal */
    margin: 0; /* Pas de marge */
    line-height: 40px; /* Centrer verticalement le texte */
    grid-column: 2; /* Aligner le titre dans la colonne centrale (comme main) */
    
    h3 {
        padding: .8em;
        margin: 0px;
        background-color: #bebebe;
    }
}


.principal {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px;
    justify-content: space-evenly; /* Changement de align-content à justify-content */
    /*background-color: #CCCCCC;*/
}

.principal h3 {
    width: 100%; /* Le titre prend toute la largeur */
    height: 40px; /* Hauteur du titre */
    text-align: center;
    
   
}

.principal section {
    
    padding: 10px;
    margin: 30px;
    flex: 1 1 calc(43% - 10px);
    box-sizing: border-box; /* Assure que le padding et margin n'affectent pas la taille totale */
    background-color: #bebebe;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
        color: #CCCCCC;
    }

    header {
        background-color: #09BCE0;
    }

    nav {
        background-color: #09BCE044;
    }

    main article {
        background-color: #333333;
    }

    aside {
        background-color: #085E8F44;
    }
}